# Set default behavior to automatically normalize line endings
* text=auto

# Explicitly declare text files to always use LF line endings on checkout
*.js text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Declare files that will always have CRLF line endings on checkout
*.bat text eol=crlf

# Denote all files that are truly binary and should not be modified
*.node binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.a binary